.top{
    width: 750px;
    height: 40px;
    display: flex;
    text-align: center;
    // position: fixed;
    margin: auto;
    .sub{
        width: 150px;
        height: 40px;
        background-color: tomato;
        color: #fff;
        list-style: none;
    }
    .sub:hover{
        background-color: rgb(255, 126, 103);
    }
    .main{
        width: 200px;
        height: 40px;
        background-color: black;
        color: #fff;
        list-style: none;
        .con{
            background-color: black;
            color: #fff;
            list-style: none;
            display: none;
            li{
                height: 40px;
            }
            .tent{
                width: 200px;
                height: 40px;
                background-color: black;
                list-style: none;
                display: none;
                margin-left: 200px;
                position: absolute;
                top: 40px;
            }
            .tent li{
                position: relative;
            }
            .tent:hover{
                background-color: rgb(56, 56, 56);
            }
            .con1:hover{
                .tent{
                    display: block;
                }
            }
        }
    }
    .main:hover{
        background-color: rgb(56, 56, 56);
        .con{
            display: block;
            margin-top: 15px;
        }
    }
    .con>li:hover{
        background-color: rgb(56, 56, 56);
    }
}