* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
}
header h1 {
  color: #fff;
}

main {
  width: 100%;
}
main ul {
  list-style: none;
}
main #wrap {
  width: 900px;
  height: 400px;
  margin: 200px auto;
}
main .nav {
  width: 100%;
  background-color: #333;
}
main .nav > li {
  color: #fff;
  background-color: #00152e;
  width: 200px;
  height: 50px;
  float: left;
  border-left: solid 1px #3d4f5a;
}
main .nav > li a:hover {
  background-color: #333;
}
main .nav > li:first-child {
  border-left: none;
  background-color: tomato;
  width: 80px;
}
main .nav > li:first-child a:hover {
  background-color: rgb(246, 135, 115);
}
main .nav > li .navChild {
  display: none;
  background-color: #00152e;
}
main .nav > li .navChild li {
  position: relative;
  border-bottom: dotted 1px #999;
  border-left: none;
}
main .nav > li .navChild > li .navChild {
  display: none;
}
main .nav > li .navChild > li:hover .navChild {
  display: block;
}
main .nav > li .navChild > li > .navChild li {
  background-color: #3d4f5a;
  width: 200px;
  height: 50px;
}
main .nav > li .navChild > li > .navChild {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
main .nav > li:hover .navChild {
  display: block;
}
main .nav > li a {
  color: #fff;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%;
  text-decoration: none;
}